header.navbar {
  height: 40px;
  margin: 5px 20px;
}

div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
}

.menu.hero-list {
  z-index: inherit;
  transform: none;
  min-height: 330px;
}

@media all and (max-width: 1100px) {
  .menu.hero-list {
    min-height: 995px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.large-container {
  width: 100%;
}
